@import url(./typography.css);
@import url(./containers.css);
/* 
Section Headers:

|| global styling
|| sections
|| card
|| buttons



|| mobile
|| donate-section
|| menu
|| drawer
|| menu

*/


/* || global styling */
a {
    text-decoration: none;
}

a:visited,
a {
    color: var(--onBackgroundLight)
}

body {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto';
    min-height: 100vh;
    color: var(--onBackgroundLight);
    background-color: var(--backgroundLight);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8em;

    background-color: var(--surfaceLight);
}

/* || sections */

/* || nav-section */
.nav-section>a {
    padding-left: 1em;
}

.nav--curr {
    text-decoration: underline;
    text-decoration-color: var(--onSurfaceLight);
}

/* || team-section */
.team-grid {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 45%));
}

.team-card-overlay {
    /* 
    applies linear gradient over background img defined in html file.
    shows team member name and their role
    */
    display: flex;
    flex-direction: column;
    justify-content: end;

    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    /* match the border radius of the card */
    border-radius: 1em;
    height: 100%;
    width: 100%;

}
.btn > a{
    color: var(--onPrimaryLight);
}
.btn-pair {
    display: flex;
    justify-content: center;
    gap: 1em;
}


/* || card */
.card {
    height: 30vh;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: 1em;
    box-shadow: 0 1rem 3rem black;
}

/* || pages */

/* || home */
.home-header{
    min-height: 40vh;
    max-height: 60vh;
    height: 50vh;
    width: 100vw;
    overflow: hidden;
}





/* || donate-section */
.donate-header {
    /* border: 3px solid red; */
    min-height: 40vh;
    max-height: 60vh;
    height: 50vh;
    width: 100vw;
    overflow: hidden;
}

.donate-section__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: .8em;
}


.card__text {
    padding: 1em;

}


/* || buttons */

.btn {
    width: max-content;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--primaryLight);
    color: var(--onPrimaryLight);

}



/* || mobile */

/* styles shown only if mobile */
.menu,
.drawer {
    display: none;
}

@media only screen and (max-width: 380px) {
    .btn-pair {
        flex-direction: column;
    }
}
@media only screen and (max-width:680px) {

    /* || mobile-global */
    *,
    *::after,
    *::before {
        box-sizing: border-box;
    }

    /* || donate-section */


    .donate-header {
        /* border: 3px black solid; */
        max-height: 40vh;
        width: 100vw;
    }

   

    /* || btn */
    .btn-pair {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1em;
        color: var(--onPrimaryLight)
    }

    /* || menu */
    :root {
        --bar-width: 30px;
        --barHeight: 4px;
        --barGap: 6px;
        --animation-timing: 200ms ease-in-out;
        --hamburger-height: calc(var(--bar-height) * 3 + var(--barGap) * 2);
    }



    /* hide part of the menu && desktop styling*/
    .menu__input,
    .nav-section a {
        display: none;
    }

    .menu {
        background-color: var(--backgroundLight);
        display: flex;
        flex-direction: column;
        gap: var(--barGap);
        width: max-content;
        position: relative;
        z-index: 9999;
        cursor: pointer;

    }

    /* || drawer */
    .drawer {
        position: absolute;
        /* z index is specified to show above the trail map page's image and cards on the about page*/
        z-index: 4;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 30vw;

        background-color: var(--backgroundLight);
    }

    .drawer__list {
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
    }

    .drawer__list__item {
        padding: .8em;
    }

    .drawer__list__item:hover {
        border: 1px solid;
    }

    .drawer__list__item a {
        display: block;
    }

    /* box checked show the drawer */

    .menu:has(input:checked)+.drawer {
        display: block;
    }

    /* || menu */

    .menu::before,
    .menu::after {
        background-color: var(--onBackgroundLight);
        content: "";
        width: var(--bar-width);
        height: var(--barHeight);
        border-radius: 9000px;
    }


    /* box checked move the menu's = */

    .menu:has(input:checked)::before {
        /* translate then rotate */
        transform: translateY(calc(var(--barGap) / 2 + var(--barHeight) / 2)) rotate(45deg);
    }

    .menu:has(input:checked)::after {
        /* translate then rotate */
        transform: translateY(calc(var(--barGap) / -2 + var(--barHeight) / -2)) rotate(-45deg);
    }
}