:root {
    /* light scheme */
    --primaryLight: #006d2f;
    --onPrimaryLight: #ffffff;
    --primaryContainerLight: #8afa9f;
    --onPrimaryContainerLight: #002109;
    --primaryFixedLight: #8afa9f;
    --onPrimaryFixedLight: #002109;
    --primaryFixedDimLight: #6edd86;
    --onPrimaryFixedVariantLight: #005322;
    --secondaryLight: #516351;
    --onSecondaryLight: #ffffff;
    --secondaryContainerLight: #d3e8d1;
    --onSecondaryContainerLight: #0f1f11;
    --secondaryFixedLight: #d3e8d1;
    --onSecondaryFixedLight: #0f1f11;
    --secondaryFixedDimLight: #b8ccb6;
    --onSecondaryFixedVariantLight: #394b3a;
    --tertiaryLight: #39656d;
    --onTertiaryLight: #ffffff;
    --tertiaryContainerLight: #bdeaf4;
    --onTertiaryContainerLight: #001f24;
    --tertiaryFixedLight: #bdeaf4;
    --onTertiaryFixedLight: #001f24;
    --tertiaryFixedDimLight: #a1ced7;
    --onTertiaryFixedVariantLight: #1f4d55;
    --errorLight: #ba1a1a;
    --errorContainerLight: #ffdad6;
    --onErrorLight: #ffffff;
    --onErrorContainerLight: #410002;
    --backgroundLight: #fcfdf7;
    --onBackgroundLight: #1a1c19;
    --outlineLight: #727970;
    --inverseOnSurfaceLight: #f0f1ec;
    --inverseSurfaceLight: #2e312e;
    --inversePrimaryLight: #6edd86;
    --shadowLight: #000000;
    --surfaceTintLight: #006d2f;
    --outlineVariantLight: #c1c9be;
    --scrimLight: #000000;
    --surfaceLight: #f9faf4;
    --onSurfaceLight: #1a1c19;
    --surfaceVariantLight: #dde5da;
    --onSurfaceVariantLight: #414941;
    --surfaceContainerHighestLight: #e2e3dd;
    --surfaceContainerHighLight: #e7e9e3;
    --surfaceContainerLight: #edeee9;
    --surfaceContainerLowLight: #f3f4ee;
    --surfaceContainerLowestLight: #ffffff;
    --surfaceDimLight: #d9dbd5;
    --surfaceBrightLight: #f9faf4;
    /* dark scheme */
    --primaryDark: #6edd86;
    --onPrimaryDark: #003915;
    --primaryContainerDark: #005322;
    --onPrimaryContainerDark: #8afa9f;
    --primaryFixedDark: #8afa9f;
    --onPrimaryFixedDark: #002109;
    --primaryFixedDimDark: #6edd86;
    --onPrimaryFixedVariantDark: #005322;
    --secondaryDark: #b8ccb6;
    --onSecondaryDark: #233425;
    --secondaryContainerDark: #394b3a;
    --onSecondaryContainerDark: #d3e8d1;
    --secondaryFixedDark: #d3e8d1;
    --onSecondaryFixedDark: #0f1f11;
    --secondaryFixedDimDark: #b8ccb6;
    --onSecondaryFixedVariantDark: #394b3a;
    --tertiaryDark: #a1ced7;
    --onTertiaryDark: #00363e;
    --tertiaryContainerDark: #1f4d55;
    --onTertiaryContainerDark: #bdeaf4;
    --tertiaryFixedDark: #bdeaf4;
    --onTertiaryFixedDark: #001f24;
    --tertiaryFixedDimDark: #a1ced7;
    --onTertiaryFixedVariantDark: #1f4d55;
    --errorDark: #ffb4ab;
    --errorContainerDark: #93000a;
    --onErrorDark: #690005;
    --onErrorContainerDark: #ffdad6;
    --backgroundDark: #1a1c19;
    --onBackgroundDark: #e2e3dd;
    --outlineDark: #8b9389;
    --inverseOnSurfaceDark: #1a1c19;
    --inverseSurfaceDark: #e2e3dd;
    --inversePrimaryDark: #006d2f;
    --shadowDark: #000000;
    --surfaceTintDark: #6edd86;
    --outlineVariantDark: #414941;
    --scrimDark: #000000;
    --surfaceDark: #111411;
    --onSurfaceDark: #c5c7c2;
    --surfaceVariantDark: #414941;
    --onSurfaceVariantDark: #c1c9be;
    --surfaceContainerHighestDark: #333532;
    --surfaceContainerHighDark: #282b27;
    --surfaceContainerDark: #1e201d;
    --surfaceContainerLowDark: #1a1c19;
    --surfaceContainerLowestDark: #0c0f0c;
    --surfaceDimDark: #111411;
    --surfaceBrightDark: #373a36;

}