/* global styling */
a {
    text-decoration: none;
}
a:visited, a {
    color: var(--onBackgroundLight)
}

/* component styles */
.card{
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: 1em;
    box-shadow: 0 1rem 3rem black;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1em;
    padding: 4rem 2rem;
    align-items: center;
}


.card-text {
    padding: 1em;

}













body {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: .8em;
    font-family: 'Roboto';
    min-height: 100vh;
    color: var(--onBackgroundLight);

    background-color: var(--backgroundLight);
}

body nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--surfaceLight);
}

.nav-section > a {
    padding-left: 1em;
}




/* banner section */


.banner-section {
    position: relative;
    height: 60vh;
    overflow: hidden;
}

.banner-image {
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.banner-image-overlay {
    width: 100%;
    position: absolute;
    bottom: 0px;
    backdrop-filter: blur(6px);
    z-index: 10;

    text-align: center;
    color: var(--onBackgroundDark);
}




/* hero section */

body .hero-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    z-index: 2;
    border-radius: 1em;
    box-shadow: 0 1rem 3rem black;
}

body .hero-card button {
    border-radius: .5rem;
    padding: .5rem 1rem;

    font-weight: 700;

    background-color: var(--primaryLight);
    color: var(--onPrimaryLight);
}

body .hero-card button a {
    color: var(--onPrimaryLight);
    text-decoration: none;
}





























/* bubble stuff */

/* section styling */
body div.bubble-section {
    overflow: hidden;
    height: 60vh;
    display: grid;
    position: relative;
    min-height: 12rem;

    background-color: var(--surfaceLight);

    border-radius: 1em;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

/* individual bubble styling */
body div.bubble-section .bubble {
    /* filter: url(#goo); */
    background-color: var(--primaryLight);
    transform: translate(0 var(--distance/2));
    position: absolute;
    left: var(--position);
    border-radius: 100%;
    animation:
        bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
        bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
}

/* bubble chart title */
body div.bubble-section .chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .8em;
}

/* bubbles bottom level */
body div.bubble-section .base {
    position: absolute;
    bottom: 0px;
    height: 10%;
    width: 100%;

    background-color: var(--primaryLight);

}

body div.bubble-section .bubble-wrapper {
    position: relative;
    filter: url("#goo");
}

@keyframes bubble-size {


    75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }

    100% {
        width: 0rem;
        height: 0rem;
    }
}

@keyframes bubble-move {
    0% {
        /* bottom: -4rem; */
        bottom: 20%;
    }

    100% {
        bottom: var(--distance);
    }
}