body {
    padding: .8em;
    background-color: var(--backgroundLight);
    color: var(--onBackgroundLight);
    font-family: 'Roboto';
}
body nav {
    display: flex;

    background-color: var(--surfaceLight);
}

body .hero-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    z-index: 2;
    border-radius: 1em;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    /* background-color: red; */
}

body .hero-card button{
    border-radius: .5rem;
    padding: .5rem 1rem;

    font-weight: 700;

    background-color: var(--primaryLight);
    color: var(--onPrimaryLight);
}

body .hero-card button a {
    color: var(--onPrimaryLight);
text-decoration: none;
}