#global-footer{
    margin-top: 2rem;
    height: 10vh;
    border-top: 1px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.social-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    /* background-color: red; */
}
.social-link{
    height: 100%;
    display: flex;
    justify-content: center;
}

.contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
}
.fb-link{
    width: 120px;
    height: 60px;
    background-image: url(./FindUs-FB-RGB.svg);
    background-repeat: no-repeat;
    background-position: center;
}